
<nav class="navbar navbar-default">
        <style>
body {
    background-color: rgb(51, 37, 179);
}
</style>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <hr>
            <hr>
             <button class="btn btn-primary navbar-btn"routerLink="/createCoupon">Create Coupon<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/removeCoupon">Remove Coupon<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/updateCoupon">Update Coupon<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/getCoupon">Get Coupon<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/getAllCoupons">Get All Coupons<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/getCouponsByType">Get Coupons By Type<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/getCouponsByDate">Get Coupons By Date<span class="glyphicon glyphicon-search"></span></button>
             <button class="btn btn-primary navbar-btn"routerLink="/getCouponsByPrice">Get Coupons By Price<span class="glyphicon glyphicon-search"></span></button>
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:4200/login.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>    
    </div>
</nav>
<router-outlet></router-outlet>